.header {
    font-family: "Museo Sans Cyrl", Arial, sans-serif;    
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    width: 73vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
}
