@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/ofontruMuseoSansCyrl100.eot"); /* IE9 Compat Modes */
    src: url("../fonts/ofontruMuseoSansCyrl100.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/ofontruMuseoSansCyrl100.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/ofontruMuseoSansCyrl100.woff") format("woff"), /* Modern Browsers */
      url("../fonts/ofontruMuseoSansCyrl100.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/ofontruMuseoSansCyrl300.eot"); /* IE9 Compat Modes */
    src: url("../fonts/ofontruMuseoSansCyrl300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/ofontruMuseoSansCyrl300.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/ofontruMuseoSansCyrl300.woff") format("woff"), /* Modern Browsers */
      url("../fonts/ofontruMuseoSansCyrl300.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl500.eot"); /* IE9 Compat Modes */
    src: url("../fonts/MuseoSansCyrl500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/MuseoSansCyrl500.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/MuseoSansCyrl500.woff") format("woff"), /* Modern Browsers */
      url("../fonts/MuseoSansCyrl500.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "BerlingskeSerif DBd";
    src: url("../fonts/BerlingskeSerif-DBdItalic.eot"); /* IE9 Compat Modes */
    src: url("../fonts/BerlingskeSerif-DBdItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/BerlingskeSerif-DBdItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/BerlingskeSerif-DBdItalic.woff") format("woff"), /* Modern Browsers */
      url("../fonts/BerlingskeSerif-DBdItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/GothamPro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/GothamPro-Bold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/GothamPro-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: bold;
  }

  